<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>HOME</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet nam molestias odio. Velit debitis adipisci libero molestiae obcaecati eligendi facere odio laboriosam beatae facilis enim ducimus magnam ab, fugit similique excepturi commodi distinctio et eum ipsam fuga, accusamus voluptas, repellat eius. Sed officia rerum consectetur nesciunt inventore illum sequi.</p>
</body>
</html>